body {
  margin: 0;
}

p {
  line-height:1.5;
}

.header {
  position: relative;
  height: 100px;
  line-height: 100px;
}

.header-title {
  display: block;
  float: left;
  padding:0 40px;
}

.header-nav {
  display: block;
  margin: auto;
  height: 100px;
  padding-inline-start: 0;
}

.header-nav li {
  display: inline;
  padding-left: 20px;
}

#content {
  float: left;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.about-author img {
  vertical-align: middle;
  margin-top: 15px;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 52px 0;
  clear:both;
}

.column {
  min-width: 300px;
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}

.resume-box {
  width: 100%;
  margin: 0;
}

.accordion {
  width: 100%;
  height: 50px;
  margin: 1px;
}

.panel {
  padding: 0 18px;
}

.about-author {
  position: relative;
  width: 50%;
  margin: 0 25%;
}

.overlay {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
}

.header-nav a {
  display: inline;
  padding-left: 20px;
}

nav .header-title {
  padding-left: 40px;
}
